@model List<ticketApp.Models.DBmodels.Ticket>

<div
    class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Tickets list</h5>
    </div>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            @foreach (var ticket in Model)
            {
                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <div class="w-16 h-16 mb-3 rounded-full bg-gray-200 flex items-center justify-center shadow-lg">
                                <span class="text-gray-500"
                                    style="font-size: large;">@ticket.Airline.ToUpper()</span>
                            </div>
                        </div>

                        <div class="flex-1 min-w-0 ms-4">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                @ticket.PNR
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                From @ticket.Destination.Substring(0,3) to @ticket.Destination.Substring(3,6)
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            @ticket.SellPrice EGP
                        </div>

                    </div>
                </li>
            }
        </ul>
    </div>
</div>